.products-header {
  margin-bottom: rem-calc(20);
}

.product,
.product-details {
  background:$white;
  padding: rem-calc(20);
}

.product-thumb {
  margin-bottom: rem-calc(20);
}

.product-name {
  margin-bottom: rem-calc(5);
  margin-top: 0;

  .hilite {
    font-weight: $font-weight-medium;
  }
}

.product-teaser {
  color: $gray-medium;
  font-size: $base-font-size;
  font-weight: $font-weight-normal;
  margin-bottom: rem-calc(20);
  margin-top: 0;
}

.product-details {
  margin-bottom: rem-calc(70);
}

.product-summary {
  p {
    font-weight: $font-weight-light;
  }
}

.product-specs-header {
  border-bottom: 1px solid darken($white, 10%);
  color: $gray-medium;
  font-size: $base-font-size;
  font-weight: $font-weight-medium;
}

.product-specs-list {
  font-size: $base-font-size;
  margin-bottom: rem-calc(20) !important;

  &:last-child {
    margin-bottom: rem-calc(40) !important;
  }
}

.product-price {
  font-size: $h3-font-size;
  small {
    margin-right: rem-calc(10);
  }
}
