---
layout: default
---

<div class="feature-slider">
  <div class="feature-slider-slides">
    {% for product in site.products limit:3 %}
      <a href="{{product.url}}" data-product-price={{product.price}} data-product-hilite={{product.hilite}} data-product-name={{product.name}} data-product-link={{product.url}}><img src="{{product.images[0]}}" /></a>
    {% endfor %}
  </div>

  <div class="feature-slider-bar">
    <div class="row">
      <div class="columns small-6">
        <div class="feature-slider-info"></div>
      </div>

      <div class="columns small-6">
        <ul class="feature-slider-nav">
          <li><button type="button">1</button></li>
          <li><button type="button">2</button></li>
          <li><button type="button">3</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% include product-group.html heading="Featured Inventory" limit=7 %}
